@charset "utf-8";



.calculator {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

table {
  table-layout: fixed;

}

td {
  width: 120px;
  height: 40px;

}

button {
  width: 100%;
  height: 100%;
  font-size: 24px;
  border-radius: 4px;
}

input {
  width: 480px;
  height: 40px;
  font-size: 28px;
  background-color: black;
  color: white;
  text-align: right;
}

button:active {
  background-color: #efefef1A;
}